@model IEnumerable<DevelopmentPathWays.Models.EmployeeModel>
@{
    ViewBag.Title = "EmployeesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h4 class="page-title">Employees Management</h4>
        </div>
        <div class="col-xs-8 text-right m-b-30">
            <a href="/Home/AddNewEmployee" class="btn btn-primary pull-right rounded"><i class="fa fa-plus"></i> Add New Employee</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table datatable">
                    <thead>
                        <tr>
                            <th>Employee No</th>
                            <th>Email Address</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Gender</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.EmployeeNo</td>
                                <td>@item.EmailAddress</td>
                                <td>@item.FirstName</td>
                                <td>@item.MiddleName</td>
                                <td>@item.LastName</td>
                                <td>@item.Age</td>
                                <td>@item.Gender</td>
                                <td>
                                    <a href="@Url.Action("UpdateEmployeeDetails", "Home", new { id = @item.EmployeeId })" class="btn btn-success" )"><i class="fa fa-pencil"></i> Edit</a>
                                <td>
                                    <a href="@Url.Action("Delete", "Home", new { id = @item.EmployeeId }))" class="btn btn-danger" )"><i class="fa fa-trash m-r-10"></i> Delete</a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

